# This file is used to setup env
# to generate documentation.

sphinx==4.4.0
sphinx-autodoc-typehints==1.17.0
m2r2==0.3.2
tomlkit==0.10.2

# Dependencies of our project:
typing-extensions==4.1.1
#mistune>=2.0.1 # Pinned by Snyk to avoid a vulnerability. However > 2.0 breaks sphinx build.
